<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please give your consent</title>
</head>
<body>
    <p>
        An application (id: {{.Payload.Client.ClientID}}) requested consent to access resources on your behalf. The application wants access to:
    </p>
    <form action="/consent?consent_challenge={{.Payload.Challenge}}" method="POST">
        <ul>
            {{range .Payload.RequestedScope}}
                <li><input type="checkbox" name="{{.}}">{{.}}</li>
            {{end}}
        </ul>
        <input type="submit">
    </form>
</body>
</html>