<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please sign in to proceed</title>
</head>
<body>
<p>
    Please sign in to proceed.
</p>

<form action="/login?login_challenge={{.}}" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
</form>

<p>
    To sign in, use the credentials "buzz:lightyear"
</p>

</body>
</html>